/*Regole Generali*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* border: 1px dashed red; */
    /* list-style-type: none; */
    
    
}
body{
    font-family: open sans;
}

.button-blue{
    background-color: #0061FF;
    color: white;
    font-weight: bold;
}

a{
    color: #116cff;
}

/* Regole dell'header */
header{
    background-color: white;
    

}

nav{
    width: 100%;
    height: 8vh;
    
    /* FLEX */

    display: flex;
    justify-content: space-between;
}

nav div{
    width: 40%;
    height: 100%;
    

    /* FLEX */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

nav div img{
    height: 36%;
    padding-left: 3%;
    display: flex;
    align-items: center;
}
#logo img{
    width: 100%;
}

/* a#logo img{
    width: 150%;
} */

.drop-index{
    width: 100%;
    height: 100%;
    color: black;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

nav div a{
    border: none;
}

#nav-blue-button{
    width: 11%;
    height: 45%;
    
    
    font-size: 22px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div a:hover{
    border-bottom: 2px solid black;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 27%;
    text-align: center;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    font-size: 22px;
    width: 100%;
    height: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 0.5%;
    z-index: 1;
  }

  .dropdown-content a{
    background-color: #f9f9f9;
    color: black;
    padding: 0px 33%;
    border: 1px solid black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }





/* Regole del main */
main{

}


/* <!-- Prima Sezione Jumbo --> */
#jumbo{
    width: 100%;
    height: 83vh;
    background-color: #B4D0E7;
    position: relative;
    /* FLEX */
    display: flex;
    justify-content: center;
    align-items: center;

}

#jumbo-text{
    width: 80%;
    height: 75%;
    margin-bottom: 3%;


}


#jumbo-text h1{
    font-size: 112px;
}

#jumbo-text p{
    width: 25%;
    font-size: 24px;
    margin: 3% 0;
}

a#jumbo-blue-button{
    
    font-size: 24px;
    padding: 0.5% 1.5%;
    
}

#jumbo-text div{
    font-size: 20px;
    margin-top: 1.5%;
    margin-bottom: 3%;
}

#arrow-down{
    font-size: 60px;
    color: black;
}

#jumbo img{
    
    height: 68%;
    position: absolute;
    left: 36%;
    bottom: -11%;


}




/* <!-- Seconda Sezione Price --> */

#price{
    width: 100%;
    height: 172.5vh;
    /* FLEX */
    display: flex;
    justify-content: center;
    align-items: end;


}

#container-price{
    width: 70%;
    height: 100%;
    



}

#price-big-title{
    height: 5%;
    font-size: 64px;
    margin-top: 15%;
}

#price-checkbox{
    height: 5%;
    padding-top: 1%;
    /* FLEX */
    display: flex;
    align-items: center;
    gap: 2%;
    
}


.checkmark {
    /* position: absolute; */
    top: 0;
    left: 0;
    height: 25%;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    
}

.container input{
    cursor: pointer;
    height: 25%;
    width: 25px;
    
    
  }






#price-plane{
    width: 100%;
    height: 78%;
    /* FLEX */  
    display: flex;
    justify-content: space-between;

}

.price-plane-style{
    width: 30%;
    height: 100%;
    border: 1px solid gainsboro;

}

.apex{
    text-align: center;
    border: 1px solid gainsboro;
    font-size: 26px;
    padding: 2% 0;
}

.plane-info{
    width: 80%;
    height: 80%;

    margin: 0 auto;
}

.plane-title{
    font-size: 40px;
    margin-top: 10%;
    margin-bottom: 8%;

}

.plane-info h4{
    font-size: 26px;
    margin-bottom: 6%;
}

#months{
    font-size: 22px;
    font-weight: bold;
    color: #72818d;
    margin-bottom: 14%;
}

.plane-info div i{
    font-size: 24px;
    margin-top: 10%;
}

.info-style{
    font-size: 22px;
    margin-left: 0.5%;
}

#but-blu-style{
    text-align: center;
    margin: 10% 0;
    padding: 3% 8%;
}
.plane-info div#but-blu-style a{
    color: white;
    font-size: 22px;
    
}

.link-or{
    height: 10%;
    font-size: 23px;

}

.or{
    display: inline-block;
    border-bottom: 1px solid gainsboro;
    height: 55%;
}

.plane-info ul{
    font-size: 22px;
    margin-left: 6%;
    margin-top: 10%;

}
.plane-info ul li{
    margin-bottom: 10%;
}

/* .plane-info ul li::before{
    content: '\2714';
    color: #116cff;
    font-size: 36px;
    
} */

ul li::marker {
    content: '✓';
    color: #116cff;
    font-size: 150%;
  }














/* <!-- Terza Sezione Contact--> */

#contact{
    width: 100%;
    height: 25vh;
    /* FLEX */
    display: flex;
    justify-content: center;
    margin-top: 4%;

}


#container-contact{
    width: 70%;
    height: 100%;
    

}

#contact-team{
    height: 20%;
    text-align: center;
    font-size: 28px;
    border: 1px solid gainsboro;
    padding-top: 0.5%;
}
#contact-info{
    height: 80%;
    border: 1px solid gainsboro;
    /* FLEX */
    display: flex;

}

#contact-A{
    width: 68%;
    height: 100%;
    margin-left: 3%;
}

#contact-A h2{
    font-size: 40px;
    margin-top: 4%;
    margin-bottom: 1%;
}

#contact-A h3{
    font-size: 26px;
    margin-bottom: 2%;
}

#contact-A p{
    font-size: 22px;
}







#contact-B{
    width: 32%;
    height: 100%;
    /* FLEX */
    display: flex;
    justify-content: start;

}

#contact-B a{
    width: 90%;
    height: 24%;
    
    font-size: 22px;
    
    padding: 10px 0;
    margin-top: 8%;
    text-align: center;
}








/* <!-- Quarta Sezione Contact whit Img--> */

#contact-with-img{
    width: 100%;
    height: 80vh;
    margin-top: 5%;
    margin-bottom: 2%;
    /* FLEX */
    display: flex;
    justify-content: center;


}


#container-ctc-img{
    width: 70%;
    height: 100%;
    /* FLEX */
    display: flex;
    align-items: center;

}

#container-ctc-img img{
    width: 54%;
    height: 80%;
}

#container-ctc-img div{
    width: 46%;
    height: 80%;
    margin-left: 5%;
    margin-top: 8%;
}

#container-ctc-img div h2{
    font-size: 40px;
    margin-bottom: 5%;
}

#container-ctc-img div p{
    font-size: 27px;
    margin-bottom: 8%;
}
#container-ctc-img div a{
    border: 2px solid black;
    font-size: 26px;
    color: black;
    padding: 1.5% 5%;

}














/* <!-- Quinta Sezione Dropbox Business--> */

#drop-business{
    width: 100%;
    height: 170vh;
    /* FLEX */
    display: flex;
    justify-content: center;
}

#container-drp-bus{
    width: 70%;
    height: 100%;
}

#container-drp-bus h2{
    height: 10%;
    font-size: 66px;

}

#drp-bus{
    height: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    


}

.drp-bus-box{
    width: 32%;
    height: 50%;
}

.drp-bus-box img{
   width: 100%;
}
.drp-bus-box h4{
    font-size: 40px;
}

.drp-bus-box p{
    font-size: 20px;
    padding-top: 30px;
    line-height: 30px;
}






/* <!-- Sesta Sezione Pre Customers --> */

#pre-customers{
    width: 100%;
    height: 25vh;
    /* FLEX */
    display: flex;
    justify-content: center;
    


}

#container-pre{
    width: 70%;
    height: 100%;
    /* FLEX */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}

#container-pre h2{
    font-size: 66px;
}

#container-pre a{
    font-size: 26px;
    color: deepskyblue;
    text-decoration: underline;
    
}







/* <!-- Settima dei Customers --> */

#customers{
    width: 100%;
    height: 50vh;
    

}














/* <!-- Ottava Sezione Bottom Customers--> */

#bot-customers{
    width: 100%;
    height: 40vh;
    background-color: #b4d0e7;
    /* FLEX */
    display: flex;
    justify-content: center;

}


#container-bot-cus{
    width: 70%;
    height: 100%;
    /* FLEX */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container-bot-cus h2{
    font-size: 66px;
    color: #61082b;
}

#container-bot-cus a{
    background-color: #ffffff;
    color: black;
    font-size: 28px;
    padding: 10px 40px;

}



















/* <!-- Nona Sezione Faqs--> */

#faqs{
    width: 100%;
    height: 80vh;
    /* FLEX */
    display: flex;
    justify-content: center;

}

#container-faqs{
    width: 70%;
    height: 100%;
    /* FLEX */
    /* display: flex;
    align-items: center; */

}

#container-faqs h4{
    height: 30%;
    font-size: 52px;
    padding-top: 150px;
}


.accordion {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  padding: 50px 0;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  
}

.active, .accordion:hover {
  background-color: #ffffff; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  font-size: 22px;
  text-indent: inherit;
}





























/* Regole del footer */
footer{
    width: 100%;
    height: 50vh;
    background-color: black;
    /* FLEX */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-footer{
    width: 75%;
    height: 43%;
    margin-top: 3%;
    margin-right: 5%;
    /* FLEX */
    display: flex;


}

.container-footer div{
    width: calc(100%/5);
    height: 100%;
    /* FLEX */
    display: flex;
    flex-direction: column;
    gap: 4%;




}
.container-footer div a h4{
    font-size: 32px;
    margin-bottom: 4%;
}

.container-footer div a{
    font-size: 22px;
    color: white;
}

.container-footer2{
    width: 75%;
    height: 40%;
    margin-right: 5%;
    /* FLEX */
    display: flex;
    align-items: end;
    
    
    


}

.container-footer2 div{
    width: 10%;
    height: 70%;
    color: #686868;
    border-top: 1px solid #686868;
    font-size: 26px;
    /* FLEX */
    display: flex;
    align-items: center;
    gap: 3%;


    
}

.container-footer2 div span{
    font-size: 18px;
}






